@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
